<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:amq="http://activemq.apache.org/schema/core"

 xmlns:jms="http://www.springframework.org/schema/jms"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://activemq.apache.org/schema/core
http://activemq.apache.org/schema/core/activemq-core-5.5.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/jms
http://www.springframework.org/schema/jms/spring-jms.xsd">

	<bean id="projProperties" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    	<property name="location" value="classpath:SalesOrder.properties" />
 	</bean>
 	
 	<bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
  		<property name="brokerURL">
   		<value>${jms.bokerurl}</value>
  		</property>
 	</bean>
 	
 	<bean id="destination" class="org.apache.activemq.command.ActiveMQQueue">
  		<constructor-arg value="${jms.queuename}" />
 	</bean>

 	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
  		<property name="connectionFactory" ref="connectionFactory" />
  		<property name="defaultDestination" ref="destination" />
 	</bean>
    
    <!-- Message Receiver Definition -->
    <bean id="messageReceiver" class="tradesale.processing.msgreceiver.MsgReceiver">
    	<property name="serviceMgr" ref="orderManagerService" />
    </bean>
	
	<bean id="msgReceiverErrorHandler" class = "tradesale.processing.msgreceiver.MsgReceiverErrorHandler"/>
	
    <bean id="simpleMessageListenerContainer" class="org.springframework.jms.listener.SimpleMessageListenerContainer">
        <property name="connectionFactory" ref="connectionFactory" />
        <property name="destinationName" value="TradeSaleQueue" />
        <property name="messageListener" ref="messageReceiver" />
		<property name="errorHandler" ref="msgReceiverErrorHandler"/>        
    </bean>
    
    <bean id="reportService" class="tradesale.processing.report.ReportServiceImpl">
   	</bean>
   	
    <bean id="orderManagerService" class = "tradesale.processing.msgreceiver.OrderManagerServiceImpl">
    	<property name="simpleMessageListenerContainer" ref="simpleMessageListenerContainer" />
    	<property name="reportService" ref="reportService" />
    </bean>


</beans>